{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" id="css-main" href="{% static 'css/oneui.min.css' %}">
    <script src="{% static 'js/oneui.app.min.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'media/favicons/favicon.png'%}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'media/favicons/favicon-192x192.png'%}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'media/favicons/apple-touch-icon-180x180.png'%}">
    
</head>
<body>
    <div class="content">
        <!-- Modern Design -->
        <h2 class="content-heading">Modern Design <small>Grid Based</small></h2>
        <div class="row">
          <div class="col-md-6 col-xl-3">
            <!-- Developer Plan -->
            <a class="block block-rounded block-link-shadow text-center" href="javascript:void(0)">
              <div class="block-header">
                <h3 class="block-title">Developer</h3>
              </div>
              <div class="block-content bg-body-light">
                <div class="py-2">
                  <p class="h1 fw-bold mb-2">$9</p>
                  <p class="h6 text-muted">per month</p>
                </div>
              </div>
              <div class="block-content">
                <div class="fs-sm py-2">
                  <p>
                    <strong>2</strong> Projects
                  </p>
                  <p>
                    <strong>10GB</strong> Storage
                  </p>
                  <p>
                    <strong>15</strong> Clients
                  </p>
                  <p>
                    <strong>Email</strong> Support
                  </p>
                </div>
              </div>
              <div class="block-content block-content-full bg-body-light">
                <span class="btn btn-secondary px-4">Sign Up</span>
              </div>
            </a>
            <!-- END Developer Plan -->
          </div>
          <div class="col-md-6 col-xl-3">
            <!-- Startup Plan -->
            <a class="block block-rounded block-link-shadow text-center" href="javascript:void(0)">
              <div class="block-header">
                <h3 class="block-title">Startup</h3>
              </div>
              <div class="block-content bg-body-light">
                <div class="py-2">
                  <p class="h1 fw-bold mb-2">$29</p>
                  <p class="h6 text-muted">per month</p>
                </div>
              </div>
              <div class="block-content">
                <div class="fs-sm py-2">
                  <p>
                    <strong>10</strong> Projects
                  </p>
                  <p>
                    <strong>30GB</strong> Storage
                  </p>
                  <p>
                    <strong>100</strong> Clients
                  </p>
                  <p>
                    <strong>FULL</strong> Support
                  </p>
                </div>
              </div>
              <div class="block-content block-content-full bg-body-light">
                <span class="btn btn-secondary px-4">Sign Up</span>
              </div>
            </a>
            <!-- END Startup Plan -->
          </div>
          <div class="col-md-6 col-xl-3">
            <!-- Business Plan -->
            <a class="block block-rounded block-link-shadow block-themed block-fx-shadow text-center" href="javascript:void(0)">
              <div class="block-header">
                <h3 class="block-title">
                  <i class="fa fa-thumbs-up me-1"></i> Business
                </h3>
              </div>
              <div class="block-content bg-body-light">
                <div class="py-2">
                  <p class="h1 fw-bold mb-2">$49</p>
                  <p class="h6 text-muted">per month</p>
                </div>
              </div>
              <div class="block-content">
                <div class="fs-sm py-2">
                  <p>
                    <strong>50</strong> Projects
                  </p>
                  <p>
                    <strong>100GB</strong> Storage
                  </p>
                  <p>
                    <strong>1000</strong> Clients
                  </p>
                  <p>
                    <strong>FULL</strong> Support
                  </p>
                </div>
              </div>
              <div class="block-content block-content-full bg-body-light">
                <span class="btn btn-primary px-4">Sign Up</span>
              </div>
            </a>
            <!-- END Business Plan -->
          </div>
          <div class="col-md-6 col-xl-3">
            <!-- VIP Plan -->
            <a class="block block-rounded block-link-shadow text-center" href="javascript:void(0)">
              <div class="block-header">
                <h3 class="block-title">VIP</h3>
              </div>
              <div class="block-content bg-body-light">
                <div class="py-2">
                  <p class="h1 fw-bold mb-2">$99</p>
                  <p class="h6 text-muted">per month</p>
                </div>
              </div>
              <div class="block-content">
                <div class="fs-sm py-2">
                  <p>
                    <strong>Unlimited</strong> Projects
                  </p>
                  <p>
                    <strong>Unlimited</strong> Storage
                  </p>
                  <p>
                    <strong>Unlimited</strong> Clients
                  </p>
                  <p>
                    <strong>FULL</strong> Support
                  </p>
                </div>
              </div>
              <div class="block-content block-content-full bg-body-light">
                <span class="btn btn-secondary px-4">Sign Up</span>
              </div>
            </a>
          </div>
        </div>
      </div>
</body>
</html>